/******************************** details table*******************************************/
.customTable
{
    background: #fff;
}
.customTable .LabelTD
{
    min-width:45% !important;
}

.customTable .ValueTD
{
    min-width:55% !important;
}
.badge
{
    background-color: #05376f;
    border: 2px solid #73b0f4;
}

.login-header, .page-heading, .popup-Header, .collapsible-sub-header
{
    background: #3f4054; /* Old browsers */
    background: -moz-linear-gradient(top, #3f4054 0%, #2f65a7 52%, #2d609e 52%, #2b93fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4054), color-stop(52%,#2f65a7), color-stop(52%,#2d609e), color-stop(100%,#2b93fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3f4054 0%,#2f65a7 52%,#2d609e 52%,#2b93fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3f4054 0%,#2f65a7 52%,#2d609e 52%,#2b93fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3f4054 0%,#2f65a7 52%,#2d609e 52%,#2b93fc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3f4054 0%,#2f65a7 52%,#2d609e 52%,#2b93fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4054', endColorstr='#2b93fc',GradientType=0 ); /* IE6-9 */
}

.login-header
{
    border-bottom: 1px solid #132390;
}
.page-header.ui-header
{
    border-bottom: 1px solid #132390;
}
.login-header h5.ui-title, .page-heading
{
    color: #fff;
}
.content-container .ui-collapsible .ui-collapsible-content ul.ui-listview li.ui-btn-up-c .ui-btn-inner, .content-container .ui-collapsible .ui-collapsible-content ul.ui-listview li.ui-btn-hover-c .ui-btn-inner, .content-container .ui-collapsible-set .ui-collapsible-content ul.ui-listview li .ui-btn-inner
{
    border-top: 0;
}

.content-container .ui-collapsible h4.ui-collapsible-heading a:hover
{
    background: #cde3fc;
}

.primary-button, #errorcloseBtn
{
    background: #4d8dd0; /* Old browsers */
    background: -moz-linear-gradient(top, #4d8dd0 0%, #1d69d3 51%, #1d5cd4 51%, #0654cd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d8dd0), color-stop(51%,#1d69d3), color-stop(51%,#1d5cd4), color-stop(100%,#0654cd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4d8dd0 0%,#1d69d3 51%,#1d5cd4 51%,#0654cd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4d8dd0 0%,#1d69d3 51%,#1d5cd4 51%,#0654cd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4d8dd0 0%,#1d69d3 51%,#1d5cd4 51%,#0654cd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4d8dd0 0%,#1d69d3 51%,#1d5cd4 51%,#0654cd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d8dd0', endColorstr='#0654cd',GradientType=0 ); /* IE6-9 */
    border: 3px solid #0c4e81;
}
.search-panel ul li, .form-content-panel ul li
{
    background: #eaf6ff;
}
.table-container .customTable tr td:last-child, .customTable tr td:nth-child(2)
{
    color: #0654ab;
}

.navigation-list li .ui-btn-text a.ui-link-inherit, .inspection-content-list li .ui-btn-text a.ui-link-inherit, .inspection-content-list li
{
    color: White;
}

.no-records
{
    background: #dae8f9;
}
.log-list li.ui-li.ui-li-divider
{
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #c7c5c5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#c7c5c5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#c7c5c5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%,#c7c5c5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%,#c7c5c5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e5e5e5 0%,#c7c5c5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#c7c5c5',GradientType=0 ); /* IE6-9 */
}
.ui-panel ul li.navigation-links:hover
{
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #45484d 0%, #1c1818 0%, #2d2d2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(0%,#45484d), color-stop(0%,#1c1818), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#45484d 0%,#1c1818 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#45484d 0%,#1c1818 0%,#2d2d2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#45484d 0%,#1c1818 0%,#2d2d2d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#45484d 0%,#1c1818 0%,#2d2d2d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
}
.ui-panel ul li.navigation-links .ui-btn-inner.ui-li
{
    border: 0;
}
.popup-header
{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 55%, #2989d8 99%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(55%,#207cca), color-stop(99%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 55%,#2989d8 99%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#207cca 55%,#2989d8 99%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 55%,#2989d8 99%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 55%,#2989d8 99%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

/********************************Time card style************************************************************************************/

.innerTable tr td, .innerTable tr th
{
    color: #0654ab;
}

#LockStatusValueLabel
{
    text-align: center;
    color: Red;
    font-weight: bold;
    word-break: break-word;
    white-space: normal;
}


/*********************************************** change Password page ************************************/

.passwordFieldContainer
{
    margin: 1%;
}

/**************************************************** Approval Dashboard ********************************/

.tabicon
{
    margin-bottom: 4px;
    width: 30px;
    height: 30px;    
}


.navbarBG ul
{
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left,  #000000 100%, #45484d 100%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(100%,#000000), color-stop(100%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #000000 100%,#45484d 100%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #000000 100%,#45484d 100%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #000000 100%,#45484d 100%,#000000 100%); /* IE10+ */
background: linear-gradient(to right,  #000000 100%,#45484d 100%,#000000 100%); /* W3C */
}

.approval-list
{
    margin: 0;
}
.approval-list .ui-btn
{
    padding: 0.4em 1em 0.2em 0.8em;
}
.approval-list .ui-btn p
{
    line-height: 23px;
    font-size: 0.8em;
    text-shadow: none;
}
.approval-list li .ui-btn-text
{
    text-shadow: none !important;
    font-weight: normal !important;
}
.approval-list li
{
    background: #fff;
}
.approveImage
{  
    float:left;
    margin-top: 1%;
}
.rejectImage
{
    margin-left:5%;
    margin-top: 1%;
}
.approvalDetailsNavigation
{
    float:right;
    margin-top: 1%;
}